:root {
    --ion-color-favorite: #ffdc20;
    --ion-color-favorite-rgb: 105,187,123;
    --ion-color-favorite-contrast: #ffffff;
    --ion-color-favorite-contrast-rgb: 255,255,255;
    --ion-color-favorite-shade: #ffdc20;
    --ion-color-favorite-tint: #ffdc20;
  }